services:
  nanobot:
    image: ghcr.io/smvl7/nanobot:latest
    container_name: nanobot_agent
    restart: unless-stopped
    user: root
    volumes:
      - ./config.json:/root/.nanobot/config.json
      - ./sessions:/root/.nanobot/sessions
      - /var/run/docker.sock:/var/run/docker.sock
      - ./nanobot_workspace:/root/.nanobot/workspace # Persist entire workspace (memory, projects, identity)
    environment:
      - PYTHONUNBUFFERED=1
    command: ["gateway"]
